@mixin flexbox($display: flex, $justify-content: center, $align-items: center, $flex-direction: row) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

.parent__center-aline__wrapper{
  width: 100%;
  height: 100%;
  @include flexbox(flex, center, center, unset);
}

.btn__base{
  background-color: #FF3030 !important;
  transition: .3s;
  &:hover{
    filter: drop-shadow(0px 0px 5px rgba(255, 48, 48, 0.85));
  }
}

// стилизация емоджи пикера
.v3-emoji-picker{
  width: 100% !important;
  min-width: 100px !important;
  --v3-picker-bg: rgb(var(--v-theme-background)) !important;
  --v3-picker-fg: currentColor !important;
  filter: drop-shadow(0 0 3px currentColor) !important;

  .v3-footer{
    display: none !important;
  }
}
.v-theme--dark {
  .v3-emoji-picker{
    --v3-group-image-filter: invert(1) !important;
  }
}

//стилизация код едитора
.vjs-tree-node:hover {
  background-color: dimgrey !important;
}

//стили базовый скролл
.styled-scroll__np::-webkit-scrollbar {
  width: 8px;
  margin-right: 5px;
  border-radius: 5px;
}
.styled-scroll__np::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 5px;
}
.styled-scroll__np::-webkit-scrollbar-track {
  background: #777777;
  margin: 3px;
  border-radius: 5px;
}

//стили минималистичный скролл 
.minimalistic_scroll::-webkit-scrollbar {
  width: 6px;
}

.minimalistic_scroll::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 10px;
  transition: background 0.3s ease;
}

.minimalistic_scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
  margin: 10px 0;
}

//стили минималистичный скролл __ красный
.minimalistic_scroll__red::-webkit-scrollbar {
  width: 6px;
}

.minimalistic_scroll__red::-webkit-scrollbar-thumb {
  background-color: #FF3030;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.minimalistic_scroll__red::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
  margin: 10px 0;
}


// анимации для типо слайда виджетов и квери

@keyframes fade-slide-out {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-slide-in {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// общие анимации
.__fade{
  animation: fade 0.5s ease;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
