@font-face {
  font-family: 'LabGrotesque';
  src: url("../font/LabGrotesque.ttf");
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  h1, h2, h3, h4, h5, h6 {
    font-family: 'LabGrotesque', sans-serif;
  }
  font-family: 'montserrat', sans-serif;
}

.v-application__wrap{
  display: block !important;
  max-height: 100vh;
}

.close__btn{
  padding: 5px;
  transition: .3s;

  &:hover{
    filter: drop-shadow(0px 0px 3px currentColor);
  }
}