@font-face {
  font-family: 'LabGrotesque';
  src: url("../font/LabGrotesque.ttf");
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  h1, h2, h3, h4, h5, h6 {
    font-family: 'LabGrotesque', sans-serif;
  }
  font-family: 'montserrat', sans-serif;
}
